version: "3.3"

volumes:
  static:
  media:
  postgres_data:


services:
  db:
    image: postgres:13.10
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env

  backend:
    image: vasets/foodgram_backend:latest
    env_file:
      - ../.env
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
      - redoc:/app/api/docs/      
    depends_on:
      - db

  frontend:
    image: vasets/foodgram_frontend:latest
    env_file:
      - ../.env
    volumes:
      - static:/app/result_build

  nginx:
    image: vasets/infra:latest
    env_file:
      - ../.env
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs/:/static/api/docs
      - static_value::/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - backend
      - frontend